<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Discoverfy</title>
    <link rel="icon" type="image/png" href="media/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="media/favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="/scripts/script.js" charset="utf-8"></script>

  </head>
  <body>
    <!-- <video src="media/342514672.mp4" autoplay poster="screenShotOfVideo.jpg"> -->
    <video class="video" autoplay="autoplay" loop="loop" muted="muted">
      <source src="/media/342514672.mp4" type="video/mp4">
    </video>
    <div class="content">

      <div class="row title">
        <h1 class="text-xs-center">Discoverfy</h1>
        <h3 class="text-xs-center">The funnest way to discover new music.</h3>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <img class="img-fluid iphone pull-sm-right" src="/media/iphone6_2.jpg" alt="" />
        </div>
        <div class="col-sm-4 card-column">

          <div class="row">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Connect to your Spotify account</h4>
                <p class="card-text">
                  Listen to 30 seconds of new songs based off your Spotify music.<br>
                  Swipe right to save it to your Spotify account. <br>
                  Swipe left to remove it.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <a class="pull-sm-right app-button" href="#">
              <img src="/media/appStoreButton.svg" alt="" />
            </a>
          </div>

          <div class="row">
            <a href="itms-services://?action=download-manifest&url=https://discoverfy.herokuapp.com/app/manifest.plist">
              <button type="button" name="button">Beta Test</button>
            </a>

          </div>

        </div>
      </div>

    </div>
  </body>
</html>
